h1 {
  text-align: center;
  text-shadow: 0 0 0.5em rgb(0, 0, 0), 0 0 0.5em rgb(0, 0, 0), 0 0 0.5em rgb(0, 0, 0), 0 0 0.5em rgb(0, 0, 0);
}

p {
  text-shadow: 0 0 0.5em rgb(0, 0, 0), 0 0 0.5em rgb(0, 0, 0), 0 0 0.5em rgb(0, 0, 0), 0 0 0.5em rgb(0, 0, 0);
}
